html, body {
  height: 100%;
  width: 100%;
}

.header{
  border: 1px solid black;
  background: #61A0AF;
  color: black;
  grid-area: header;
}

.nav{
  border: 1px solid black;
  background:#96C9DC;
  color: black;
  grid-area: nav;
}

.main{
  border: 1px solid black;
  background:#F5D491;
  color: black;
  grid-area: main;
}

.footer{
  border: 1px solid black;
  background: #F9B9B7;
  color: black;
  grid-area: footer;
}

.aside{
  border: 1px solid black;
  background: #f6d992;
  color: black;
  grid-area: aside;
}

.grid{
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 44% 40%;
  grid-template-rows: 15% 75% 9%;
  grid-template-areas:
    "  header header header"
    "  nav main aside  "
    "  footer footer footer";
}

.banner{
  width: 100px;
  height: 100px;
}

body{
  background:#640000;
}

h1{
  font-family:monospace;
  margin-right:40%;
  float: right; 
}


.p{
  text-indent:10px;
}

ol.color, ul.color{
  color: green;
}

table{
  background: black;
  width: 20%;
  height: 20%;
  font-size: 1.5em;
  font-family: serif;
}

th{
   background: black;
   color: white;
}

td {
  background: gray;
  color: white;
}

.yellow{
  background: yellow;
}

.canvasSize{
  height: 200px;
  width: 200px;
}

.frameSize{
  margin: 5%;
  height: 50%;
  width: 90%;
}

.svgSize{
  width: 90% ;
  height: 50%;
}

ul,li{
  margin:0;
  padding:0;
  list-style: none;
  }

.wolve{
  width:70%;
  height:90%;
}

@media screen and (max-width: 800px){
  .grid{
    grid-template-columns: 100%;
    grid-template-rows: 12% 8% 35% 35% 10%;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer"
  }

  .formScroll{
    overflow-y: scroll;
    height: 200px;
  }
  .header{
    background:#04E762;
  }
  .nav{
    background:#F5B700;
  }
  .main{
    background:#00A1E4;
  }
  .aside{
    background:#DC0073;
  }
  .footer{
    background:#89FC00;
  }
  ul{
  list-style: none;
  } 
  li{
  display: inline;
  }
}